          ---
          release notes
          ---

omeglespy-z-desktop release notes

*${projectVersion}

  First release to use the omeglespy-z-core application framework. This release
  brings the following improvements:
  
  * Swaps can occur for either stranger even after one disconnects.
  
  * Improved recaptcha avoidance.
  
  * Keyboard shortcuts for common tasks.
  
  * Expert mode.
  
  * Phrase filtering (inspired by the endless parade of omegle spam bots).
  
  * Various bug fixes.
  
*1.8.14

  Initial release. Using code based off of the now defunct
  {{https://code.google.com/p/omegle-spy/}} and the 1.8 release of
  {{https://code.google.com/p/omeglespyx/}}.
  
  Made the following changes:
  
  * Improved overall application efficiency by explicitly closing the
  Closeables opened in the network communication methods.
  
  * Added an experimental OCR implementation for the recaptchas (it didn't work
  well, so don't get excited).
  
  * Fixed the endless loop bug associated with Stranger swapping.