          ---
          about
          ---

omeglespy-z-mobile

  omeglespy-z-mobile will be an Android and iOS version of
  {{{https://omeglespy-z.googlecode.com/svn/sites/omeglespy-z-desktop/index.html}omeglespy-z-desktop}}.
  
* system requirements

  * <<OS>>: Android or iOS (versions unknown at this time).
  
  * <<Device>>: Unknown at this time. Probably, it will work on most Android
  and iOS devices.

  []  
