          ---
          about
          ---

omeglespy-z-desktop

  omeglespy-z-desktop is a desktop java application that allows you to "spy" on
  strangers chatting on {{http://www.omegle.com}}. It also allows you to
  impersonate either of the strangers on whom you're spying; it allows you to
  disconnect either stranger; it also allows you to replace either stranger
  with a brand new stranger.
  
  Wow. Sounds exciting.
  
* how does it work

  When you start a new conversation in the application, it starts two separate
  omegle chat sessions. It then joins them together, passing the messages and
  changes in typing status back and forth between the two connections.
  
  You could kind of have the same effect if you opened two separate browser
  windows, navigated both to omegle.com, started a new conversation in each,
  and copy and pasted the chat back and forth. The biggest difference is that
  omeglespy-z-desktop is faster than your Ctrl+C and Ctrl+V fingers.
  
* system requirements

  * <<OS>>: Windows 9x/XP/Vista/7 (probably even 8) or Mac OSX (10.4\+) or Linux
  running an X server.
  
  * <<JVM>>: any standards compliant Java Virtual Machine 1.4.2 or greater
  (hint: you probably already have this).

  []
  
  So basically as long as you're not using a machine from the mid-90s, you
  should be able to run the app.
  
* installation

  First download the application archive
  {{{http://omeglespy-z.googlecode.com/files/omeglespy-z-desktop-${projectVersion}-distribution.zip}here}}.
  
  Second unzip the archive somewhere.
  
  Third go to the location where you unzipped the archive.
  
  Navigate to the <<<bin>>> folder. If you're running windows, invoke
  <<<omeglespy-z.bat>>>. If you're running Linux or Mac OSX, invoke the
  <<<omeglespy-z>>> shell script.
  
  If nothing happens, there might be an issue. Report it at
  {{https://code.google.com/p/omeglespy-z/issues/list}}.