          ---
          downloads
          ---

omeglespy-z-core downloads

  The latest release is ${projectVersion}. You can find it at
  {{http://omeglespy-z.googlecode.com/files/omeglespy-z-core-${projectVersion}.jar}}.
  
  You can find past releases at {{http://code.google.com/p/omeglespy-z/downloads/list}}.
  