          ---
          about
          ---

omeglespy-z-core

  omeglespy-z-core is a java library centered around creating and manipulating
  connections to the {{{http://www.omegle.com}Omegle chat service}}.
  
  Common use cases include the creation of an alternative Omegle chat
  interface, using this library to mediate between two separate Omegle
  connections (the "spy" in omeglespy-z), etc.
  
* usage

  This library was initially designed exclusive for connection mediation, so
  the majority of the code is used to serve that use case.
  
** connection mediation

  Connection mediation can be initiated by simply invoking
  
+---
List<OmegleSpyConversationListener> activeListeners =
                    new ArrayList<OmegleSpyConversationListener>();
OmegleSpyConversationController conversationController =
                    new OmegleSpyConversationController(activeListeners);
conversationController.startConversation();
+---
  
  Of course, unless you have an implementation of the OmegleSpyConversationListener
  interface in your list of listeners, nothing much will happen.
  
** stand-alone connection

  It's simple to establish a stand-alone connection to Omegle
  
+---
String conversantName = "Stranger";
String serverName = "chatserv.omegle.com";
OmegleConnection connection = new OmegleConnection(conversantName, serverName);
new Thread(connection).start();
+---
  
  At this point, the connection will be active and begin polling the specified
  Omegle server for events. It's up to you to write the code that responds to
  events, though.
  
  OmegleConnection extends the Observable class. This means that in order to
  respond to events, your event responder should implement the Observer
  interface, thus implementing the update(Observable, Object) method. The
  Observable is guaranteed to be an instance of
  {{{./apidocs/org/darkimport/omeglespy_z/OmegleConnection.html}OmegleConnection}}
  while the Object is guaranteed to be an instance of
  {{{./apidocs/org/darkimport/omeglespy_z/OmegleEvent.html}OmegleEvent}}.
  
  Every OmegleEvent contains the
  {{{./apidocs/org/darkimport/omeglespy_z/OmegleEventType.html}OmegleEventType}}
  and any associated arguments of the event.